*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    width: 800px;
}

.recent-image{
    width: 100%;
}

.recent-post{
    float: left;
    margin-left: 10px;
    width: 250px;
}